<style >
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Two-tone gradient */
}

#cart {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.product-image {
    width: fit-content;
    height: auto;
}

</style >
